<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Customerreward>
            <version>0.4.2</version>
        </Magestore_Customerreward>
    </modules>
    <frontend>
    	<secure_url>
			<customerreward_checkout>/customerreward/checkout</customerreward_checkout>
		</secure_url>
        <routers>
            <customerreward>
                <use>standard</use>
                <args>
                    <module>Magestore_Customerreward</module>
                    <frontName>customerreward</frontName>
                </args>
            </customerreward>
        </routers>
        <layout>
            <updates>
                <customerreward>
                    <file>customerreward.xml</file>
                </customerreward>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <customerreward_coupon_post>
                        <type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>couponPostAction</method>
                    </customerreward_coupon_post>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <customerreward_coupon_post>
                        <type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>couponPostOscAction</method>
                    </customerreward_coupon_post>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon>
            <!-- <controller_action_predispatch_checkout_cart_index>
				<observers>
                    <customerreward_checkout_cart_index>
                        <type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>checkoutCartIndex</method>
                    </customerreward_checkout_cart_index>
                </observers>
			</controller_action_predispatch_checkout_cart_index> -->
        	<customer_login>
        		<observers>
        			<customerreward_login>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>customerLogin</method>
        			</customerreward_login>
        		</observers>
        	</customer_login>
        	<newsletter_subscriber_save_after>
        		<observers>
        			<customerreward_newsletter_subscriber_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>newsletterSubscriber</method>
        			</customerreward_newsletter_subscriber_save_after>
        		</observers>
        	</newsletter_subscriber_save_after>
        	<model_save_after>
        		<observers>
        			<customerreward_model_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>modelSaveAfter</method>
        			</customerreward_model_save_after>
        		</observers>
        	</model_save_after>
        	<!--sales_quote_payment_import_data_before>
        		<observers>
        			<customerreward_payment_import_data_before>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>paymentImportDataBefore</method>
        			</customerreward_payment_import_data_before>
        		</observers>
        	</sales_quote_payment_import_data_before-->
        	<sales_order_place_before>
        		<observers>
        			<customerreward_order_place_before>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>orderPlaceBefore</method>
        			</customerreward_order_place_before>
        		</observers>
        	</sales_order_place_before>
        	<sales_order_place_after>
        		<observers>
        			<customerreward_order_place_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>orderPlaceAfter</method>
        			</customerreward_order_place_after>
        		</observers>
        	</sales_order_place_after>
        	<checkout_onepage_controller_success_action>
        		<observers>
        			<customerreward_onepage_checkout_success>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>onepageCheckoutSuccess</method>
        			</customerreward_onepage_checkout_success>
        		</observers>
        	</checkout_onepage_controller_success_action>
        	<controller_action_predispatch>
        		<observers>
        			<customerreward_action_predispatch>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>actionPredispatch</method>
        			</customerreward_action_predispatch>
        		</observers>
        	</controller_action_predispatch>
        	<catalog_product_get_final_price>
        		<observers>
        			<customerreward_product_get_final_price>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>productChangeFinalPrice</method>
        			</customerreward_product_get_final_price>
        		</observers>
        	</catalog_product_get_final_price>
        	<catalog_block_product_list_collection>
        		<observers>
        			<customerreward_product_collection>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>productListCollection</method>
        			</customerreward_product_collection>
        		</observers>
        	</catalog_block_product_list_collection>
        	<paypal_prepare_line_items>
        		<observers>
        			<customerreward_paypal_prepare_line_items>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>paypalPrepareItems</method>
        			</customerreward_paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
        	<!-- <controller_action_predispatch_checkout>
        		<observers>
        			<customerreward_checkout_predispatch>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>checkoutPredispatch</method>
        			</customerreward_checkout_predispatch>
        		</observers>
        	</controller_action_predispatch_checkout> -->
            <checkout_cart_product_add_after>
                <observers>
        			<customerreward_add_to_cart>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>checkoutCartAddProduct</method>
        			</customerreward_add_to_cart>
        		</observers>
            </checkout_cart_product_add_after>
            <checkout_cart_product_update_after>
                <observers>
        			<customerreward_add_to_cart>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>checkoutCartAddProduct</method>
        			</customerreward_add_to_cart>
        		</observers>
            </checkout_cart_product_update_after>
        </events>
        <translate>
        	<modules>
        		<Magestore_Customerreward>
        			<files>
        				<default>Magestore_Customerreward.csv</default>
        			</files>
        		</Magestore_Customerreward>
        	</modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<customerrewardadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Customerreward</module>
					<frontName>customerrewardadmin</frontName>
				</args>
			</customerrewardadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<customerreward>
					<file>customerreward.xml</file>
				</customerreward>
			</updates>
		</layout>
        <translate>
        	<modules>
        		<Magestore_Customerreward>
        			<files>
        				<default>Magestore_Customerreward.csv</default>
        			</files>
        		</Magestore_Customerreward>
        	</modules>
        </translate>
        <events>
        	<adminhtml_customer_save_after>
        		<observers>
        			<customerreward_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>customerSaveAfter</method>
        			</customerreward_save_after>
        		</observers>
        	</adminhtml_customer_save_after>
        	<controller_action_predispatch_adminhtml_tag_save>
				<observers>
        			<customerreward_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>adminTagSave</method>
        			</customerreward_save_after>
        		</observers>
			</controller_action_predispatch_adminhtml_tag_save>
            <controller_action_predispatch_adminhtml_tag_massStatus>
				<observers>
        			<customerreward_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>adminTagmassStatus</method>
        			</customerreward_save_after>
        		</observers>
			</controller_action_predispatch_adminhtml_tag_massStatus>
			<adminhtml_sales_order_creditmemo_register_before>
				<observers>
        			<customerreward_creditmemo_register_before>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>creditmemoRegisterBefore</method>
        			</customerreward_creditmemo_register_before>
        		</observers>
			</adminhtml_sales_order_creditmemo_register_before>
			<sales_order_creditmemo_save_after>
				<observers>
        			<customerreward_creditmemo_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>creditmemoSaveAfter</method>
        			</customerreward_creditmemo_save_after>
        		</observers>
			</sales_order_creditmemo_save_after>
			<sales_order_creditmemo_refund>
				<observers>
        			<customerreward_creditmemo_refund>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>creditmemoRefund</method>
        			</customerreward_creditmemo_refund>
        		</observers>
			</sales_order_creditmemo_refund>
            <sales_model_service_quote_submit_after>
                <observers>
        			<customerreward_order_place_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>orderPlaceAfter</method>
        			</customerreward_order_place_after>
        		</observers>
            </sales_model_service_quote_submit_after>
            <controller_action_predispatch_adminhtml_sales_order_create_start>
                <observers>
                    <customerreward_clear_session>
                        <type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>clearAdminCheckoutSession</method>
                    </customerreward_clear_session>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_start>
            <controller_action_predispatch_adminhtml_sales_order_create_cancel>
                <observers>
                    <customerreward_clear_session>
                        <type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>clearAdminCheckoutSession</method>
                    </customerreward_clear_session>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_cancel>
        </events>
    </adminhtml>
    <global>
        <models>
            <customerreward>
                <class>Magestore_Customerreward_Model</class>
                <resourceModel>customerreward_mysql4</resourceModel>
            </customerreward>
			<sales>
				<rewrite>
					<order>Magestore_Customerreward_Model_Sales_Order</order>
				</rewrite>
			</sales>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Magestore_Customerreward_Model_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <!-- Fix bug Paygate -->
            <paygate>
                <rewrite>
                    <authorizenet>Magestore_Customerreward_Model_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <customerreward_mysql4>
                <class>Magestore_Customerreward_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>reward_customer</table>
                    </customer>
                    <transaction>
                    	<table>reward_transaction</table>
                    </transaction>
                    <order>
                    	<table>reward_order</table>
                    </order>
                    <rate>
                    	<table>reward_rate</table>
                    </rate>
                    <rule>
                    	<table>reward_rule</table>
                    </rule>
                    <offer>
                    	<table>reward_offer</table>
                    </offer>
                    <count>
                    	<table>reward_count</table>
                    </count>
                    <count_customer>
                        <table>reward_count_customer</table>
                    </count_customer>
                    <!-- tables for ver4.0 -->
                    <rewards>
                        <table>reward_rewards</table>
                    </rewards>
                    
                    <earning_catalog>
                        <table>reward_earning_catalog</table>
                    </earning_catalog>
                    <earning_sales>
                        <table>reward_earning_sales</table>
                    </earning_sales>
                    
                    <spending_catalog>
                        <table>reward_spending_catalog</table>
                    </spending_catalog>
                    <spending_sales>
                        <table>reward_spending_sales</table>
                    </spending_sales>
                </entities>
            </customerreward_mysql4>
        </models>
        <resources>
            <customerreward_setup>
                <setup>
                    <module>Magestore_Customerreward</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerreward_setup>
            <customerreward_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerreward_write>
            <customerreward_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerreward_read>
        </resources>
        <blocks>
            <customerreward>
                <class>Magestore_Customerreward_Block</class>
            </customerreward>
            <checkout>
            	<rewrite>
                    <cart_coupon>Magestore_Customerreward_Block_Cart_Coupon</cart_coupon>
            		<onepage_payment_methods>Magestore_Customerreward_Block_Checkout_Payment_Methods</onepage_payment_methods>
            	</rewrite>
            </checkout>
        </blocks>
        <helpers>
            <customerreward>
                <class>Magestore_Customerreward_Helper</class>
            </customerreward>
        </helpers>
        <template>
        	<email>
        		<customerreward_email_update_balance>
        			<label>Update balance</label>
        			<file>customerreward/update_balance.html</file>
        			<type>html</type>
        		</customerreward_email_update_balance>
        		<customerreward_email_transaction_expire>
        			<label>Expire notification</label>
        			<file>customerreward/expire_notification.html</file>
        			<type>html</type>
        		</customerreward_email_transaction_expire>
        		<customerreward_email_sendfriend>
        			<label>Send offer to friend</label>
        			<file>customerreward/offer.html</file>
        			<type>html</type>
        		</customerreward_email_sendfriend>
				<customerreward_refer_template>
                    <label>Refer friend email template</label>
                    <file>customerreward/refer.html</file>
                    <type>html</type>
                </customerreward_refer_template>
        	</email>
        </template>
        <sales>
        	<quote>
        		<totals>
                    <reward_label>
                        <class>customerreward/total_quote_label</class>
                        <before>nominal,subtotal</before>
                        <renderer>customerreward/cart_total</renderer>
                        <admin_renderer>customerreward/adminhtml_cart_total</admin_renderer>
                    </reward_label>
                    <reward_item>
                        <class>customerreward/total_quote_item</class>
                        <after>subtotal</after>
                    </reward_item>
        			<offer>
        				<class>customerreward/total_quote_offer</class>
                        <before>tax</before>
        				<after>reward_item,wee,discount</after>
        			</offer>
        			<customerreward>
        				<class>customerreward/total_quote_point</class>
                        <before>tax</before>
        				<after>reward_item,offer,wee,discount</after>
        			</customerreward>
        		</totals>
        	</quote>
        	<order_invoice>
        		<totals>
                    <reward_item>
                        <class>customerreward/total_order_invoice_item</class>
                    </reward_item>
        			<customerreward>
        				<class>customerreward/total_order_invoice_point</class>
        			</customerreward>
        			<offer>
        				<class>customerreward/total_order_invoice_offer</class>
        			</offer>
        		</totals>
        	</order_invoice>
        	<order_creditmemo>
        		<totals>
                    <reward_item>
                        <class>customerreward/total_order_creditmemo_item</class>
                    </reward_item>
        			<customerreward>
        				<class>customerreward/total_order_creditmemo_point</class>
        			</customerreward>
        			<offer>
        				<class>customerreward/total_order_creditmemo_offer</class>
        			</offer>
        		</totals>
        	</order_creditmemo>
        </sales>
        <pdf>
        	<totals>
                <reward_item translate="title">
        			<title>Reward Item Discount</title>
        			<source_field>reward_item_discount</source_field>
        			<model>customerreward/total_pdf_item</model>
        			<font_size>7</font_size>
        			<display_zero>0</display_zero>
        			<sort_order>249</sort_order>
        		</reward_item>
        		<customerreward translate="title">
        			<title>Spend by point(s)</title>
        			<source_field>current_money</source_field>
        			<model>customerreward/total_pdf_point</model>
        			<font_size>7</font_size>
        			<display_zero>0</display_zero>
        			<sort_order>251</sort_order>
        		</customerreward>
        		<offer>
        			<title>Offer Discount</title>
        			<source_field>offer_discount</source_field>
        			<model>customerreward/total_pdf_offer</model>
        			<font_size>7</font_size>
        			<display_zero>0</display_zero>
        			<sort_order>256</sort_order>
        		</offer>
        	</totals>
        </pdf>
        <events>
        	<sales_order_load_after>
        		<observers>
        			<customerreward_order_load_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>orderLoadAfter</method>
        			</customerreward_order_load_after>
        		</observers>
        	</sales_order_load_after>
        	<sales_order_invoice_load_after>
        		<observers>
        			<customerreward_invoice_load_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>invoiceLoadAfter</method>
        			</customerreward_invoice_load_after>
        		</observers>
        	</sales_order_invoice_load_after>
        	<sales_order_creditmemo_load_after>
        		<observers>
        			<customerreward_creditmemo_load_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>creditmemoLoadAfter</method>
        			</customerreward_creditmemo_load_after>
        		</observers>
        	</sales_order_creditmemo_load_after>
        	<sales_order_save_after>
        		<observers>
        			<customerreward_order_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>orderSaveAfter</method>
        			</customerreward_order_save_after>
        		</observers>
        	</sales_order_save_after>
        	<review_save_after>
        		<observers>
        			<customerreward_review_save_after>
        				<type>singleton</type>
        				<class>customerreward/observer</class>
        				<method>reviewSaveAfter</method>
        			</customerreward_review_save_after>
        		</observers>
        	</review_save_after>
        </events>
    </global>
    <default>
    	<customerreward>
    		<refer>
				<coupon>1</coupon>
				<pattern><![CDATA[REWARD-[N.4]-[AN.5]-[A.4]]]></pattern>
    			<enable>1</enable>
    			<uniqueclick>0</uniqueclick>
    			<visit>0</visit>
				<sharing_subject><![CDATA[Good service and product]]></sharing_subject>
				<sharing_message><![CDATA[I've been shopping at {{store_name}} and feel really happy. They provide good customer service and reasonable prices. If you click on my link, you can even receive a special discount! Check it out: {{personal_url}}]]></sharing_message>
    		</refer>
    		<earn>
    			<invoice>1</invoice>
                <orderstatus>complete</orderstatus>
    			<cancel_orderstatus>closed,canceled</cancel_orderstatus>
    			<expire>0</expire>
    			<min>0</min>
    			<max>0</max>
    			<initialize>0</initialize>
    			<newsletter>0</newsletter>
    			<review>0</review>
    			<review_limit>20</review_limit>
    			<tag>0</tag>
    			<tag_limit>10</tag_limit>
    			<poll>0</poll>
    			<poll_limit>10</poll_limit>
    		</earn>
            <display>
                <toplink>1</toplink>
                <newsletter>1</newsletter>
                <poll>1</poll>
                <review>1</review>
                <product>1</product>
                <tag>1</tag>
                <info>about-magento-demo-store</info>
            </display>
    		<email>
    			<enable>1</enable>
    			<sender>general</sender>
    			<update_balance>customerreward_email_update_balance</update_balance>
    			<transaction_expire>customerreward_email_transaction_expire</transaction_expire>
    			<day_before>7</day_before>
    			<sendfriend>customerreward_email_sendfriend</sendfriend>
    		</email>
    		<action_models>
    			<initialize>customerreward/actions_initialize</initialize>
    			<newsletter>customerreward/actions_newsletter</newsletter>
    			<review>customerreward/actions_review</review>
    			<tag>customerreward/actions_tag</tag>
    			<poll>customerreward/actions_poll</poll>
    			<spend>customerreward/actions_spend</spend>
    			<invoice>customerreward/actions_invoice</invoice>
                <catalogrule>customerreward/actions_catalogrule</catalogrule>
    			<rule>customerreward/actions_rule</rule>
    			<cashback>customerreward/actions_cashback</cashback>
    			<offer>customerreward/actions_offer</offer>
    			<visit>customerreward/actions_visit</visit>
    			<uniqueclick>customerreward/actions_uniqueclick</uniqueclick>
    			<cancel>customerreward/actions_cancel</cancel>
    			<refund>customerreward/actions_refund</refund>
    			<refundoffer>customerreward/actions_refundoffer</refundoffer>
    			<admin>customerreward/actions_admin</admin>
    			<creditmemo>customerreward/actions_creditmemo</creditmemo>
    		</action_models>
    	</customerreward>
    </default>
    <crontab>
    	<jobs>
    		<customerreward>
    			<schedule>
    				<cron_expr>0 0 * * *</cron_expr>
    			</schedule>
    			<run>
    				<model>customerreward/observer::expireTransaction</model>
    			</run>
    		</customerreward>
    	</jobs>
    </crontab>
</config>
